{% extends 'phonebook/base.html' %}
{% block content%}
<div class="page-header">
   <h1 style="font-weight: bolder;">Detail About {{ object.name }}</h1>
</div>   
   <div class="well">
      <h3>User:- {{ object.user }}</h1>
   </div>
   <div class="well">
         <h3>Name:- {{ object.name }}</h1>
    </div>
    <div class="well">
        <p>Phone Number:- {{ object.number }}</p>
    </div>
    <div class="well">
       <p>Date of Creation:- {{ object.date_added }}</p>
    </div>
    <a class="btn btn-success" href="{% url 'index' %}" role="button">Back To Home</a>
{% endblock %}      
