{% extends 'phonebook/base.html' %}
   {% block title %}Log in the Phone Book {% endblock %}
   {% block heading %}Phone Book{% endblock %}
   {% block content %}
      <div style="text-align: center;">
          <div class="container">
              <div class="jumbotron">
                   <h2 style="font-weight: bolder;" class="form-signin-heading">Reset your Password</h2>
                    {% if user == contact.email %}
                         <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                         <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                      {% else %}    
                      <p style="color: crimson;">You are not signup user first signup and create your account then you can reset your password</p>
                      <a href="{% url 'sign' %}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Sign the Phone Book</a>
                   {% endif %}  
             </div>  
          </div>
       </div>  
     {% endblock %}   

   


