{% extends 'phonebook/base.html' %}
{% block title %}Log in the Phone Book {% endblock %}
{% block heading %}Phone Book{% endblock %}
{% block content %}
   <div style="text-align: center;">
       <div class="container">
             <div class="jumbotron">
                  <h2 class="form-signin-heading">Set new password</h2>
                  {% if validlink %}
                        <form class="form-signin" method="POST">
                             {% csrf_token %}
                              {{ form.as_p }}
                              <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                        </form>
                   {% else %}    
                          <p style="color: red;">Invalid Token</p>
                          <p>
                            <a href="{% url 'password_reset' %}">Request a new password reset token</a>
                         </p>
                      {% endif %}    
             </div>  
       </div>
   </div>  
     {% endblock %}   

   


