{% extends 'phonebook/base.html' %}
    {% block title %}Log in the Phone Book {% endblock %}
    {% block heading %}Phone Book{% endblock %}
    {% block content %}
       <div style="text-align: center;">
           <div class="container">
               <div class="jumbotron">
                    <h2 class="form-signin-heading">Password changed with success!</h2>
                    <p>You may now <a href="{% url 'login' %}">log in</a> again</p>
              
                </div>  
             </div>  
         </div>  
     {% endblock %}   
 
    
 
 
        
      
       